  .yellow-section {
    width: 100%;
    height: auto;
    background-color: rgb(252, 206, 20);
  }

  .header-container {
    position: relative;
    text-align: center;
    color: rgb(252, 206, 20);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .header-text {
    font-family: 'Playpen Sans';
    margin: 0 auto;
    font-size: 90px;
    padding: 3px;
    border-radius: 10px;
    padding-bottom: 0 em;
    background-color: rgb(99, 93, 255);
  }
  
  .slogan {
    font-family: 'Playpen Sans';
    margin: 0;
    font-size: 55px;
    padding: 3px;
    color: rgb(252, 206, 20);
    -webkit-text-stroke: 0.2px rgb(99, 93, 255);
  }

  .tickets {
    display: flex;
    justify-content: space-around;
    
}

.ticket {
    text-align: center;
}

.ticket p {
    margin: 0;
}

.cart {
    margin-top: 20px;
}

/* Add your existing styles here */

/* Additional styles for the shopping cart */
#cart-section {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#cart-items {
    list-style: none;
    padding: 0;
}

#cart-total {
    font-weight: bold;
    color: #1442fc;
}