body
 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background-color: #ffdd00;
}

@media(max-width: 479px) 
{
  .home-container {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
}
img
{
  height: 250px;
  width: 400px;
}
ul.menu {
  border-style: solid;
  border-width: 1px;
  padding: 0em;
  border-radius: 0.5em;
  background-color: #1442fc;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.menu li {
  display: inline-block;
  margin-right: 0.5em;
  margin-left: 0.5em;
}

ul.menu li a {
  color: white;
  text-decoration: none;
}
ul.menu li.selected {
  color: rgb(252, 206, 20);
}

#translate-button
{
  border: 0;
  background-color: #1442fc;
  color: white;
  padding: 0.5em 1em;
  font-family: 'Playpen Sans';
}


@keyframes mymoveFromLeft
{
  from {left: 0%;}
  to {left: 20%;}
}

@keyframes mymoveFromRight {
  from {left: 100%;}
  to {left: 55%;}
}




.sights {
  overflow: hidden;
}

.sights-item {
  position: relative;
  height: 20rem;
  overflow: hidden;
}

.sights-item-image {
  position: absolute;
  animation-timing-function: ease-in-out;
  animation: mymoveFromLeft 6s;
  animation-fill-mode: forwards;
}

.sights-item-image img {
  height: 100%;
}

.sights-item-text {
  position: absolute;
  animation-timing-function: ease-in-out;
  animation: mymoveFromRight 6s;
  animation-fill-mode: forwards;
  font-family: 'Playpen Sans';
    margin: 0;
    font-size: 55px;
    padding: 3px;
    color: rgb(252, 206, 20);
    -webkit-text-stroke: 3px rgb(99, 93, 255);
}

.sights-item:nth-child(2n) .sights-item-image {  
  animation: mymoveFromRight 6s;
  animation-fill-mode: forwards;
}

.sights-item:nth-child(2n) .sights-item-text {  
  animation: mymoveFromLeft 6s;
  animation-fill-mode: forwards;
}
