body
 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background-color: #ffdd00;
}

@media(max-width: 479px) 
{
  .home-container {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
}
img
{
  height: 250px;
  width: 400px;
}
